* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html body {
  height: 100%;
  width: 100%;
  background-color: rgb(236, 236, 236);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  padding: 20px;
  margin-top: 20px;
  /* background-color: red; */
}
nav i {
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 20px;
  border-radius: 50%;
}
#main {
  width: 100%;
  height: calc(100% - 20px);
  overflow: hidden;
}
#main h1 {
  font-size: 5vw;
  line-height: 4.69vw;
  padding-top: 5.5vw;
  padding-left: 5vw;
}
#heroline h1 {
  font-size: 5vw;
  line-height: 4.69vw;
  padding-top: 5.5vw;
  padding-left: 5vw;
}
.box1 p {
  width: 30%;
  font-size: 1.2vw;
}
.box1 {
  padding: 0 5vw;
  width: 100%;
  /* background-color: blanchedalmond; */
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.box2 {
  width: 18%;
}

.elem {
  border-top: 2px solid black;
  /* background-color: coral; */
  margin-top: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.elem i {
  font-size: 40px;
  opacity: 0;
  transition: all ease 0.2s;
}
.elem:hover i {
  opacity: 1;
  transition: all ease 0.5s;
}
.elem a {
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.elem:hover a {
  text-decoration: underline;
  transition: all ease 0.5s;
}
.page1bottomImg {
  height: 14.65vw;
  /* background-color: brown; */
  width: 100%;
  background: url(https://images.unsplash.com/photo-1539701938214-0d9736e1c16b?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 56%;
}
/* this is mobile view --------------------------------------------*/
@media (max-width: 600px) {
  nav {
    font-weight: 100;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 30px;
    padding: 20px;
    padding-right: 10px;
    margin-top: 10px;
    /* background-color: red; */
  }
  nav h4{
    font-weight: 200;
  }
  #main {
    width: 100%;
    height: calc(100% -30px);
    overflow-x: hidden;
  }
  #heroline {
    height: 35vh;
    width: 100vw;
    text-align: left;
  }
  #heroline h1 {
    font-size: 12vw;
    font-weight: 900;
    line-height: 16vw;
    padding-top: 5.5vw;
    padding-left: 2vw;
  }

  .box1 {
    padding: 0vw 2vw;
    width: 100%;
    /* background-color: blanchedalmond; */
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height:48vw;
  }
  .box1 p {
    padding-top: 2vw;
    
    width: 80%;
    font-size: 3.5vw;
    font-weight: 600;
  }
  .box2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
  }
  .box2 .elem:nth-child(1) {
    border-right: 1px solid black;
    border-top: none;
  }
  .box2 .elem:nth-child(2) {
    border-right: 1px solid black;
    border-top: none;
  }

  .elem {
    border-top: none;
    /* background-color: coral; */
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 10px;
    padding-left: 0vw;
    padding-right: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .elem i {
    font-size: 20px;
    opacity: 1;
    padding-left: 0vw;
  }
  .elem a {
    font-size: 4vw;
    font-weight: 300;
  }

  .page1bottomImg {
    margin-top: 10px;
    height: 40vh;
    background-color: brown;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1539701938214-0d9736e1c16b?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 56%;
  }
}
